:root {
  /* fonts */
  --font-swiss-721: "Swiss 721";
  --font-swis721-bdrnd-bt: "Swis721 BdRnd BT";
  --font-swiss-721-rounded: "Swiss 721 Rounded";

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-sm: 8px;
  --padding-md: 16px;
}
