@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.frame-div {
  position: absolute;
  width: 100%;
  top: 926px;
  right: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0) 87.87%
  );
  height: 536px;
}
.we-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.your-metaversetic-lifestyle {
  margin: 0;
}
.we-are-developing-your-metaver {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  opacity: 0;
}
.we-are-developing-your-metaver.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-left;
}
.image2-icon {
  position: relative;
  width: 350px;
  height: 385px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0;
}
.image2-icon.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-right;
}
.frame-section {
  position: absolute;
  width: 69.44%;
  top: 926px;
  right: 15.28%;
  left: 15.28%;
  display: flex;
  flex-direction: row;
  padding: 48px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 33px;
  flex-wrap: wrap;
  text-align: left;
  font-size: 54px;
  color: var(--color-white);
  font-family: var(--font-swiss-721-rounded);
}
.union-icon {
  position: relative;
  width: 121.95px;
  height: 16px;
  flex-shrink: 0;
}
.frame-div1 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.products-div {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-swiss-721);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame-button,
.frame-div2 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.vector-icon {
  position: relative;
  width: 20px;
  height: 19px;
  flex-shrink: 0;
}
.frame-button1,
.frame-nav {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.frame-button1 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-sm) var(--padding-md);
  background-color: transparent;
  border-radius: 100px;
  justify-content: center;
  gap: 12px;
}
.frame-nav {
  position: absolute;
  width: 69.44%;
  top: 0;
  right: 15.28%;
  left: 15.28%;
  padding: 32px 0;
  justify-content: space-between;
}
.image1-icon {
  position: absolute;
  width: 100%;
  top: 99px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 827px;
  object-fit: cover;
  opacity: 0;
}
.image1-icon.animate,
.welcome-to-metaversetic.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.welcome-to-metaversetic {
  margin: 0;
  position: absolute;
  width: 61.04%;
  top: 137px;
  left: 19.44%;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  opacity: 0;
}
.copyright-2022-b {
  position: relative;
  display: inline-block;
}
.frame-footer,
.home-div {
  text-align: left;
  color: var(--color-white);
}
.frame-footer {
  position: absolute;
  top: 1462px;
  left: calc(50% - 228px);
  width: 456px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: var(--font-size-base);
  font-family: var(--font-swiss-721);
}
.home-div {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 1545px;
  overflow: hidden;
  font-size: 72px;
  font-family: var(--font-swis721-bdrnd-bt);
}
